@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap');

:root {
	--netflixRed: #E50914;
	--netflixBlack: #141414;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Estilizacao base */
body {
  background: var(--netflixBlack);
	font-family: 'Spline Sans', Times, serif;
	color: #fff;
}

header {
	width: 100%;
	position: absolute;
	background: linear-gradient(
		to bottom,
		black 0%,
		rgb(0, 0, 0, 0.5) 50%,
		rgba(0, 0, 0, 0) 100%
	);
}

header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
}

header .logo {
	color: var(--netflixRed);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
}

header nav a {
	text-decoration: none;
	color: #AAA;
	margin: 10px;
	font-size: 20px;
}

header nav a:hover {
	color: rgba(255, 255, 255, 0.521);
	text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.459);
	border-radius: 5px;
	transition: all 0.3s ease-in-out;
}

/* Estilizacao do conteudo principal */
/* Para fazer um efeito gradiante agradavel aos olhos, consultei
um topico em StackOverFlow
Fonte: https://stackoverflow.com/questions/34233865/css-linear-opacity */
.main-view {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	font-size: 18px;
	background: 
		linear-gradient(
			to bottom,
			rgba(0, 0, 0, .50) 85%,
			rgb(20,20,20)
			),
		url('../img/ozark/ozark_background.jpg');
	height: 600px;
	background-size: cover;
	margin-bottom: -20px;
}

.main-view .container {
	width: 60%;
}

.container {
	margin: 0 50px;
}

.main-view_logo {
	margin-top: 5%;
}

.main-view .main-description {
	margin-bottom: 20px;
	margin-top: 10px;
	min-width: 10%;
	max-width: 400px;
	font-size: 20px;
}

.button {
	border: none;
	color: white;
	padding: 15px;
	margin-right: 15px;
	font-size: 18px;
	cursor: pointer;
	border-radius: 5px;
}

.button svg {
	margin-right: 5px;
}

.play-button {
	background-color: white;
	color: black;
}

.play-button:hover {
	background-color: rgba(255, 255, 255, 0.651);
}

.info-button {
	background-color: rgba(90, 90, 90, 0.411);
}

.info-button:hover {
	background-color: rgba(90, 90, 90, 0.233);
}

/* Corossel CSS */
.box-film {
	height: 100%;
	width: 100%;
	display: block;
}

.card-item {
	cursor: pointer;
}

.card-item .box-film {
  border-radius: 3px;
}

.row-content {
	margin: 40px 40px;
}

.row-content h3 {
  font-size: 20px;
  margin: 15px 10px;
}

/* Footer (rodape) */
footer {
  width: 100%;
  height: 80px;
}

.social-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 50px;
}

.social-icon {
  width: 50px;
}

.line {
  width: 90%;
  margin: 20px auto 20px;

}